*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute; 
}
#part1{
    height: 200px;
    width: 200px;
    background-color:rebeccapurple;
}
#part2{
    height: 200px;
    width: 200px;
    background-color: rgb(13, 241, 24);
}
#part3{
    height: 200px;
    width: 200px;
    background-color: rgb(217, 255, 0);
}